<section class="movie-sum">
    <div class="container flex">
      <img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path  %>" alt="<%= movie.title %> poster">
      <div class="text">
        <h2 class="red-bd-left"><%= movie.title %></h2>
        <h3><%= movie.release_date.toISOString().split('T')[0] %></h3>
        <h4>⭐ <%= Math.round( movie.avg_rating *100)/100 %>/10</h4>
        <p><%= movie.overview %></p>
      </div>
    </div>
  </section>