<%- include('partials/header.ejs', {isLoggedIn: isLoggedIn}); -%>

<section class="all-reviews">
  <div class="container">
    <div>
      <% for(let i = 0; i < reviews.length; i++) { %>
        <div class="review">
          <img src="https://image.tmdb.org/t/p/original/<%= reviews[i].poster_path  %>" alt="<%= reviews[i].title %> poster"
          onerror="this.onerror=null;this.src='./img/no-image.png';">
          <div>
            <div class="flex">
              <a href="/reviews?movie=<%=reviews[i].title%>"><h4><%= reviews[i].title %></h4></a>
              <h4>⭐ <%= reviews[i].rating %>/10</h4>
            </div>
              <p>
                <% if (reviews[i].review.length >= 300){ %>
                  <%= reviews[i].review.substring(0, 300) %>...
                <% } else { %>
                  <%= reviews[i].review %>
                <% } %> 
              </p>
              <a class="read" href="/review?id=<%=reviews[i].id %>">Full Review</a>
              
              <div class="flex">
                <a href="/profile?user=<%=reviews[i].username%>"><%= reviews[i].username %></a>
              <p><%=reviews[i].date.toISOString().split('T')[0]%></p>
              </div>
              
          </div>
          
        </div>
      <% } %>
    </div>
  </div>
</section>
  
<%- include('partials/footer.ejs'); -%>