<%- include('partials/header.ejs'); -%>

<section class="showcase">
  <div class="container">
    <h1>The Movie Reviewer</h1>
    <div class="flex">
      <img src="/img/video-camera.png" alt="video-camera">
      <a href="https://www.flaticon.com/free-icons/cinema" title="cinema icons">Cinema icons created by Good Ware - Flaticon</a>
    </div>
    
  </div>
</section>

<section class="hot-movies">
  <div class="container">
    <div class="flex">
      <h2 class="red-bd-left">Hottest Movies</h2>
      <a href="">View All</a>
    </div>
    
    <div class="grid">
      <% for(let i = 0; i < 6; i++) { %>
        <div class="movie">
          <a href="/reviews?movie=<%=movies[0].title%>">
            <img src="https://image.tmdb.org/t/p/original/<%= movies[0].poster_path  %>" alt="<%= movies[0].title %> poster">
            <h4><%= movies[0].title %></h4>
              <p><%= movies[0].review_count %> reviews</p>
            <h4>⭐ <%= Math.round( movies[0].avg_rating *100)/100 %>/10</h4>
          </a>
          
        </div>
      <% } %>
    </div>
  </div>
</section>

<section class="new-reviews">
  <div class="container">
    <div class="flex">
      <h2 class="red-bd-left">Newest Reviews</h2>
      <a href="">View All</a>
    </div>
    <div>
      <% for(let i = 0; i < reviews.length; i++) { %>
        <div class="review">
          <img src="https://image.tmdb.org/t/p/original/<%= reviews[i].poster_path  %>" alt="<%= reviews[i].title %> poster">
          <div>
            <div class="flex">
              <a href="/reviews?movie=<%=reviews[i].title%>"><h4><%= reviews[0].title %></h4></a>
              <h4>⭐ <%= reviews[i].rating %>/10</h4>
            </div>
              <p>
                <%= reviews[i].review.substring(0, 300) %>...
              </p>
              <a class="read" href="/review?id=<%=reviews[i].id %>">Full Review</a>
              
              <div class="flex">
                <a href="/profile?user=<%=reviews[i].username%>"><%= reviews[i].username %></a>
              <p><%=reviews[i].date.toISOString().split('T')[0]%></p>
              </div>
              
          </div>
          
        </div>
      <% } %>
    </div>
  </div>
</section>
  
<%- include('partials/footer.ejs'); -%>